$sansserif-fontstack: Open-Sans, Helvetica, Arial, sans-serif;
$primary-color: #BD4920; // #6fa511; //BD4920
$primary-color-hover: #6fb811;
$text-light: #bbbbbb;
$text-lightgrey: #888888;
$text-grey: #666666;
$text-darkgrey: #444444;
$text-dark: #222222;
$border-light: #aaaaaa;
$content-background: #121212;
$content-background2: #ffffff;
$chart-hoverbackground: #efefef;
$chart-defaultbackground: #ffffff;


@import 'compass/compass';

/* VARIABLES */
$header-bg: #ffffff;
$menu-width: 250px!default;

/* BASE */
html,
body {
  font-family: $sansserif-fontstack;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
    min-height: 100%;
    background: $content-background2;
}

.site-pusher {
    min-height: 100%;
}

.container {
  //@include clearfix;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-content {
  
  color: $text-light;
  height: 100%;
}

/* HEADER */
.header {
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  z-index:10;
  
  line-height: 60px;
  color: $text-dark;
  background-color: $header-bg;
  border-bottom: 1px solid $border-light;
}

.header-shrink {
  transition: all .5s;
  .header-logo {
    span, span:hover {
      transition: all .5s;
      color: #fff;
    }
  }
}

.header-logo {
  font-weight: 700;
  padding: 0 25px;
  float: left;
  transition: all .5s;

  svg {
    width: 85px;
    height: auto;
  }

  svg>g polygon {
    transition: all .5s;
    fill: $primary-color!important;
  }

  span {
    float: right;
    font-size: 48px;
    font-weight: 900;
    margin: -4px 0px 0px -5px;
    color: $text-light;
      transition: all .75s;
  }
}

.header-logo:hover {
    svg>g polygon {
      fill: $primary-color-hover!important;
  }
}

/* MENU */
.menu {
  float: right;
  
  a {
    padding: 0 10px;
    font-weight: bold;
    font-size: 16px;
    color: $text-dark;
    opacity: 0.75;
    transition: color 0.75s;
    //text-transform: lowercase;
  }
  
  a:hover {
    color: $primary-color;
    text-decoration: none;

  }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }
  
  .site-container {
    overflow: hidden;
  }
  
  .site-pusher {
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }
  
  .site-content {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 15px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  .header {
    position: static;
  }
  
  .header-icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 60px;
    
    cursor: pointer;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px #333, 0 16px 0 1px #333, 0 22px 0 1px #333);
    }
  }
  
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: darken($header-bg, 5);
/*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    
    width: $menu-width;
    
    @include transform(translateX($menu-width * -1));
    a {
      display: block;
      height: 40px;
      
      text-align: center;
      line-height: 40px;
      
      border-bottom: 1px solid $header-bg;
    }
  }
  
  .with--sidebar {
    .site-pusher {
      @include transform(translateX($menu-width));
    }
    .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}




.amcharts-graph-g1 .amcharts-graph-stroke {
  stroke-dasharray: 3px 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  // -webkit-animation: am-moving-dashes 2s linear infinite;
  // animation: am-moving-dashes 2s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}

#charts div > div > div > div > a {
  display: none!important;
}

.amcharts-export-menu .export-main > a {
    //background-image: url($chartExportIcon)!important;
    width: 24px!important;
    height: 24px!important;
    border-radius: 5px!important;
    background-size: 10px 10px;
}

.amcharts-export-menu .export-main:hover > a {
    //background-image: url($chartExportIcon)!important;
    width: 24px!important;
    height: 24px!important;
    border-radius: 5px!important;
    background-size: 10px 10px;
}

.amcharts-amexport-menu-level-0 {
  top: -5px !important;
  left: 20px !important;
}

.amcharts-amexport-menu a {
 text-decoration: none; 
}

.amcharts-amexport-menu a {
  text-decoration: none; 
}

.row {
  margin: 0;
}

.col {
  display: inline-block;
}

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

#dashboard-container {
  display: none;
}

#db-menu {
  padding: 20px;
}

#db-menu>div {
  display: inline-block;
}

#db-menu button {
  margin-right: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

#db-mbutton {
    
}

#db-mselector {
   
}


#db-content {
  padding: 20px;
}

#db-detail {
  
}

#db-overview {
  height: 450px;
}

.chartslot {
  padding: 5px;  
  
}

.chartslot-borderbox {
  padding: 15px;
  border: 3px solid #ffffff;
}

.chartslot-borderbox:hover {  
  border-color: $chart-hoverbackground;
}

.chartslot .addbutton {
  background-color: #efefef;
  float: right;
  line-height: normal;
  padding: 2px 7px 2px 7px;
}

.chartslot .addbutton:hover {
  background-color: #dedede;
}

.chartinfo {
  color: $text-dark;
  padding: 0px 0px 10px 20px;
}

.chartinfo span {
  margin: 0px 20px 0px 0px;
}

.chart-instance {
  clear: both;
  height: 400px;  
}

.detail-chart {
  height: 450px;
}

.distribution-chart {
  height: 450px;
}

.materialMatchChart {
  color: #6a89cc;
  font-weight: bold;
}