<script>
    var mode = "{{ mode }}";
    var topics = "{{ topics }}";
</script>
<div id="controls" class="row"></div>
<div id="charts" class="row"></div>
<div id="loader" class="">
    <div id="spinner" class="">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    </div>
    <div id="state" class="text-center">
        <p>Loading contents</p>
    </div>
</div>
<br/>
<!-- amCharts Resources -->

<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


<!-- mqtt resources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script> 

<!-- custom js --> 
<script src="/js/monitor-dtw.js"></script>