<header class="header">

<a href="#" class="header-icon" id="header-icon"></a>
<a href="#" class="header-logo">
    {{> datastreammonitor_logo }}    
</a>

<nav class="menu">
    {{!-- <a href="#">Connection</a>
    <a href="#">Profile</a>
    <a href="#">About</a> --}}
</nav>

</header>